.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.head-text-info {
  font-family: 'Brittany Signature', sans-serif;
  font-size: 1.5em;
  color: rgb(222, 215, 215);
}

.App-header {
  background-color: #1C8D73;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  font-weight: 800;
  font-family: 'Brittany Signature', sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
